[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-text-splitters = "*"
langchain = "*"
langchain-community = "*"
sentence-transformers = "*"
chromadb = "*"
pypdf2 = "*"
google-generativeai = "*"
python-dotenv = "*"
langchain-google-genai = "*"

[dev-packages]

[requires]
python_version = "3.13"
